* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

form {
    padding-top: 20px;
    width: 350px;
    height: 400px;
    background-color: blue;
    margin: 50px auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -10px 20px 15px 10px gray;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

input {
    font-size: 16px;
    padding: 8px;
    display: flex;
    margin: 10px auto;
    border-radius: 24px;
    transition: 0.25s;
}

label {
    color: white;
    display: block;
    text-align: center;
    margin: 15px;
    font-size: 20px;
}

input[type="button"] {
    width: 100px;
    margin-top: 20px;
    font-size: 20px;
    display: block;
    background-color: chocolate;
}

input[type="button"]:hover {
    background-color: coral;
}